{{yield}}
<span class="buttons">
	<button>{{fa-icon "th-large" size=2}}</button>
	<button>{{fa-icon "th-list" size=2}}</button>
</span>
<span class="count">7 Rooms - 0 Alerts</span>
<span class="crud">
	<button>{{fa-icon "th-large" size=2}}</button>
	<button>{{fa-icon "th-list" size=2}}</button>
</span>